{
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    ["transform-define", {
      "process.env.NODE_ENV": "production",
      "typeof window": "object"
    }]
    // ["transform-define", 
    //   {}
    //   "./env-config.js"]
  ],
  "presets": ["next/babel"]
}
